## Load libraries and dependencies

In [2]:
import pandas as pd
import numpy as np

In [5]:
data = pd.read_csv("data/chunk_1.txt", sep=";")
data.head()

,ZIBZIN,IDAvisAutorisAtionCheque,MontAnt,DAteTrAnsAction,CodeDecision,VerifiAnceCPT1,VerifiAnceCPT2,VerifiAnceCPT3,D2CB,ScoringFP1,...,TAuxImpNB_CPM,EcArtNumCheq,NbrMAgAsin3J,DiffDAteTr1,DiffDAteTr2,DiffDAteTr3,CA3TRetMtt,CA3TR,Heure,FlAgImpAye
0,A034010041908012010710730,71051532,"40,170000000000002",2016-03-21 07:47:38,0,1,1,1,535,0,...,"21,834061135371179",0,1,4,4,4,"40,170000000000002",0,28058,0
1,A035010041908006493331734,71051533,20,2016-03-21 08:04:57,0,0,0,0,358,0,...,"12,586532410320956",0,1,4,4,4,20,0,29097,0
2,A013010003908005150136747,71051534,35,2016-03-21 08:06:45,0,0,0,0,199,0,...,"39,274924471299094",0,1,4,4,4,35,0,29205,0
3,A013010041908025639221029,71051536,20,2016-03-21 08:11:38,0,0,0,0,38,0,...,"39,274924471299094",0,1,4,4,4,20,0,29498,0
4,A013010003908005556100283,71051538,20,2016-03-21 08:17:11,0,0,0,0,26,0,...,"39,274924471299094",0,1,4,4,4,20,0,29831,0